* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-image: url('https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.15752-9/274763943_1310362642809267_6731055368515102329_n.png?stp=dst-png_s2048x2048&_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHJWFNd4EsVnDBbS-V4uF0wQZzYO1xOIAdBnNg7XE4gB5K9kb67_M7VlJERn4cGNgW0TTiS37AsFS6uCON_CcMT&_nc_ohc=jX3wmnPKwfcAX-OlokQ&_nc_ht=scontent.fmnl4-1.fna&oh=03_AVKQmKk73KYkzj5IlsDZNngchEkqBf7bsMYJ6D7tFk9xrg&oe=624D4FA2');
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 560px;
}
